@font-face {
    font-family: 'Ethnocentric';
    src:url('EthnocentricRg.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ethnocentric', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #290d79, #02010c);
}

.header {
    position: relative;
    width: 100%;
    background-color:  #050408;
    border-bottom: 1px solid rgb(57, 44, 95);
    color: #f7f5fc;
}

/* .header::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: linear-gradient(134deg, #02010c, #f7f5fc, #290d79, #6622c0);

    
} */

.top_header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo {
    margin-left: 20px;
    height: 50px;

}

.title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
}

.bottom_header {
    display: flex;
    justify-content: center;
    background: #050408;
    padding: 12px 0;
}

nav ul {
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: rgb(247, 245, 252);
    font-size: 1.3rem;
    display: block;
}

/* Main Content Styles */

main {
    flex: 1;
    display: flex;
    width: 95%;
    margin: 100px auto;
}

/* Description Section Styles */

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    padding-right: 6%;
    margin-left: 4%;
    padding-top: 6%;
    color: rgb(194, 187, 218);
}

.description_header {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.description .description_text {
    font-size: 1.7rem;
    line-height: 2;
    margin-left: 30px;
}

.description_text .name {
    display: block;
    text-align: right;
    font-size: 2rem;
    margin-top: 20px;
}

/* Photo Collage Section Styles */

.photo_collage {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, auto);
    gap: 70px;
    
}

.image {
    box-shadow: 0px 0px 13px 6px rgb(100, 75, 236);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo_collage .image:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.photo_collage .image:nth-child(2) {
    grid-row: span 6;
    grid-column: span 6;

}


.photo_collage .image:nth-child(3) {
    grid-row: span 4;
    grid-column: span 2;

}

.photo_collage .image:nth-child(4) {
    grid-row: span 4;
    grid-column: span 2;

}


/* Footer Styles */

footer {
    padding: 30px 20px;
    display: flex;
    width: 100%;
    background: #050408;
    gap: 20px;
    border-top: 1px solid  rgb(57, 44, 95);
}

footer a {
    text-decoration: none;
    color: #f7f5fc;
}

footer .credits {
    color: #f7f5fc;
    margin-left: auto;
    font-size: 0.8rem;
}