* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}

.top_header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo {
    margin-left: 20px;
    height: 50px;

}

.title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
}

.bottom_header {
    display: flex;
    justify-content: center;
    background: rgb(204, 204, 204);
    padding: 12px 0;
}

nav ul {
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 1.3rem;
    display: block;
}

/* Main Content Styles */

main {
    flex: 1;
    display: flex;
    width: 95%;
    margin: 100px auto;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    padding-right: 6%;
    margin-left: 4%;
    padding-top: 6%;
}

.photo_collage {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, auto);
    gap: 30px;
}

.image {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 3px 4px 3px 2px rgba(8, 8, 10, 0.5);
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.photo_collage .image:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.photo_collage .image:nth-child(2) {
    grid-row: span 6;
    grid-column: span 6;

}


.photo_collage .image:nth-child(3) {
    grid-row : span 4;
    grid-column: span 2;
    
}

.photo_collage .image:nth-child(4) {
    grid-row: span 4;
    grid-column: span 2;

}


/* Footer Styles */

footer {
    padding: 30px 20px;
    display: flex;
    width: 100%;
    background: lightgray;
    border: 1px solid black;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}