* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}

.top_header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo {
    margin-left: 20px;
    height: 50px;

}

.title {
position: absolute;
left: 50%;
transform: translate(-50%);
margin: 0;
font-size: 2.2rem;
font-weight: 700;
}

.bottom_header {
display: flex;
justify-content: center;
background: rgb(204, 204, 204);
padding: 12px 0;
}