@font-face {
    font-family: 'Ethnocentric';
    src:url('EthnocentricRg.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ethnocentric', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #290d79, #02010c);
}

.header {
    position: relative;
    width: 100%;
    background-color:  #050408;
    border-bottom: 1px solid rgb(57, 44, 95);
    color: #f7f5fc;
}

.top_header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo {
    margin-left: 20px;
    height: 50px;

}

.title {
    position: absolute;
    left: 51.5%;
    transform: translate(-50%);
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
}

.bottom_header {
    display: flex;
    justify-content: center;
    background: #050408;
    padding: 12px 0;
}

nav ul {
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 7%;
}

nav ul li a {
    text-decoration: none;
    color: rgb(247, 245, 252);
    font-size: 1.3rem;
    display: block;
} 

/* Need to add active class styles here later */

/* Main Content Styles */

main {
    flex: 1;
    display: flex;
    width: 95%;
    margin: 100px auto;
}

/* Footer Styles */

footer {
    padding: 30px 20px;
    display: flex;
    width: 100%;
    background: #050408;
    margin-top: auto;
    gap: 20px;
    border-top: 1px solid  rgb(57, 44, 95);
}

footer a {
    text-decoration: none;
    color: #f7f5fc;
}

footer .credits {
    color: #f7f5fc;
    margin-left: auto;
    font-size: 0.8rem;
}