
/* Description Section Styles */

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    padding-right: 6%;
    margin-left: 4%;
    padding-top: 6%;
    color: rgb(194, 187, 218);
}

.description_header {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.description .description_text {
    font-size: 1.7rem;
    line-height: 2;
    margin-left: 30px;
}

.description_text .name {
    display: block;
    text-align: right;
    font-size: 2rem;
    margin-top: 20px;
}

/* Photo Collage Section Styles */

.photo_collage {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, auto);
    gap: 70px;
    
}

.image {
    box-shadow: 0px 0px 13px 6px #644bec;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo_collage .image:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.photo_collage .image:nth-child(2) {
    grid-row: span 6;
    grid-column: span 6;

}


.photo_collage .image:nth-child(3) {
    grid-row: span 4;
    grid-column: span 2;

}

.photo_collage .image:nth-child(4) {
    grid-row: span 4;
    grid-column: span 2;

}

